.village-all-fans-content {
  max-width: 810px;
  padding: 80px 0;
  margin: auto;
}
.all-fans-item {
  width: 100%;
  height: 110px;
  padding: 15px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
  display: flex;
}
.all-fans-item > i {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
}
.all-fans-item > div {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.all-fans-item-name {
  font-size: 18px;
}
