.village-header {
  width: 100%;
  height: 60px;
  color: #ffffff;
  background: #378ee7;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.village-header > div {
  height: 38px;
}
.village-name {
  font-size: 18px;
}
.village-time,
.village-weather {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.village-weather {
  align-items: flex-end;
}
