.village-news-list {
  padding: 0 15px;
  background: #fff;
}
.news-item {
  height: 100px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-item:last-child {
  border: unset;
}
.news-item-info {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 65px;
  display: flex;
  flex-direction: column;
}
.news-item-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #24374a;
  height: 35px;
  line-height: 35px;
}
.news-item-title:hover {
  cursor: pointer;
}
.news-item-content {
  color: #8091a0;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.news-item-cover {
  width: 100px;
  height: 65px;
  background-size: cover;
  background-position: center;
}
