.village-story-list {
  max-width: 600px;
  margin: auto;
}
.village-story-cover {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  margin-bottom: 25px;
}
.village-story-cover > .user-info {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.village-story-cover > .user-info > i {
  width: 45px;
  height: 45px;
  background-size: cover;
  border-radius: 45px;
  margin-right: 15px;
}
.village-story-cover > .user-info > div {
  display: flex;
  flex-direction: column;
}
.village-story-cover > .user-info > div > span:first-child {
  font-size: 18px;
}
.village-story-cover > .cover {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
}
.village-story-cover > .foot {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.village-story-cover > .foot > .story-title {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  height: 40px;
  line-height: 40px;
}
.village-story-cover > .foot > .story-action {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.village-story-cover > .foot > .story-action > span {
  font-weight: 600;
  color: rgba(var(--f07, 38, 38, 38), 1);
}
.village-story-cover > .foot > .story-action > div {
  display: flex;
}
.village-story-cover > .foot > .story-action > div > i {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.village-story-cover > .foot > .story-action > div > i:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .village-story-cover {
    border: unset;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: unset;
  }
}
