.village-story-list {
  width: 100%;
  margin: auto;
  padding: 0 0 25px 0;
}
.village-story-list-container {
  max-width: 1490px;
  margin: auto;
}
.village-stories-head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 45px;
  font-size: 18px;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
}
.village-stories-head > .back {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-image: url(/image/icon/village/back.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.village-stories-head > .back:hover,
.village-stories-banner > div > i:hover {
  cursor: pointer;
}

.village-story-list-container > .show-more {
  text-align: center;
  line-height: 40px;
}

.village-stories-banner {
  position: relative;
  height: 450px;
  background-size: cover;
  background-position: center;
}
.village-banner-head {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.village-banner-head > i {
  width: 30px;
  height: 30px;
  background-image: url(/image/icon/village/back-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.village-banner-title {
  font-size: 18px;
  color: #ffffff;
  margin-left: 15px;
}
.tag-cloud-wrapper {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: absolute;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.tag-cloud .tag-cloud-tag {
  cursor: pointer;
}

@media screen and (max-width: 1490px) {
  .village-story-list-container {
    width: 1190px;
  }
}

@media screen and (max-width: 1190px) {
  .village-story-list-container {
    width: 890px;
  }
}

@media screen and (max-width: 890px) {
  .village-story-list-container {
    width: 590px;
  }
}

@media screen and (max-width: 768px) {
  .village-story-list-container {
    width: 100%;
    padding: 0 15px;
  }
  .village-stories-head {
    margin-bottom: unset;
  }
  .village-story-cover {
    border: unset;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: unset;
  }
  .village-stories-banner {
    height: 180px;
  }
}
