.village {
  position: relative;
  background-color: #fafafa;
}
.village-head-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
}
.village-banner {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
}
.village-content {
  max-width: 810px;
  margin: auto;
  padding-bottom: 50px;
}
.village-content > div {
  margin-top: 15px;
}
.village-navi {
  background-color: #fff;
  border: 0;
  bottom: 0;
  height: 44px;
  left: 0;
  position: fixed;
  right: 0;
  top: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #e6e6e6;
}
.village-navi > i {
  width: 24px;
  height: 24px;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .village-banner {
    height: 250px;
  }
}
