.village-all-visitor-content {
  max-width: 810px;
  padding: 80px 0;
  margin: auto;
}
.all-visitor-item {
  width: 100%;
  height: 110px;
  padding: 15px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
  display: flex;
}
.all-visitor-item > i {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
}
.all-visitor-item > i:hover {
  cursor: pointer;
}
.all-visitor-item > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
  overflow: hidden;
}
.all-visitor-item-name {
  width: 100%;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.all-visitor-item-name:hover {
  cursor: pointer;
}
