.audit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    line-height: 40px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audit .story-card-cover:hover {
    cursor: auto;
}