.account-content {
    margin: auto;
}

.log-out {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #40a9ff;
}

.log-out:hover {
    cursor: pointer;
}

.user-info-card {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/image/background/avatar-bk.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 15px;
}

.my-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.my-content>div:hover {
    cursor: pointer;
}

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.user-info-card>div {
    margin: 5px 0;
}

.account .ant-tabs-tabpane {
    background-color: #ffffff;
}

.account .ant-tabs-left-bar {
    border-right: unset !important;
    background-color: #ffffff;
}

.account .ant-table-thead>tr {
    background: #ffffff;
}

.account .ant-tabs .ant-tabs-left-content {
    border-left: unset;
}

@media screen and (max-width:768px) {}