.my-station {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tabel-actions>span:hover {
    cursor: pointer;
}

.station-card {
    position: relative;
    width: 345px;
    height: 310px;
    border: 1px solid gainsboro;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 20px;
}

.station-card:hover {
    /* cursor: pointer; */
    box-shadow: 2px 4px 8px 0 rgba(71, 110, 87, 0.25);
}

.station-card-cover {
    width: 100%;
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px 8px 0 0;
}

.station-card-title {
    width: 100%;
    height: 30px;
    font-size: 14px;
    line-height: 40px;
    padding: 0 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.station-card-info {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.station-option {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 40px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 3px;
    background-image: url(/image/icon/Group@1x.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.station-option:hover {
    cursor: pointer;
}

.station-option-dorpdown {
    position: absolute;
    top: 40px;
    right: 15px;
    width: 96px;
    background: #FFFFFF;
    border-radius: 3px;
    color: #4A4A4A;
    text-align: center;
}

.station-option-dorpdown>div {
    height: 30px;
    line-height: 30px;
}

.station-option-dorpdown>div:hover {
    cursor: pointer;
    color: #1890ff;
}