.form-label {
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
}

.form-label:first-child {
  margin-top: unset;
}
.custom-config {
  margin: 10px;
  display: flex;
}
.custom-config > div {
  flex: 1;
}
.bk-item {
  display: flex;
  margin: 5px 0;
}
.bk-type {
  margin-left: 5px;
}
.bk-type > label {
  margin-bottom: 5px;
}
.config-preview {
  display: flex;
  flex-direction: column;
}
.config-preview > div {
  flex: 1;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.config-preview > div:first-child {
  background-image: url(/image/background/sample-home.png);
}
.config-preview > div:last-child {
  background-image: url(/image/background/sample-child.png);
}
.options-cover-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.options-cover-wrapper > div {
  margin: 5px;
}
.site-cover-item {
  position: relative;
  width: 112px;
  height: 112px;
  background-size: cover;
  background-position: center;
}
.site-cover-item > div {
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(/image/icon/story/close.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
}
.site-cover-item > div:hover {
  cursor: pointer;
}
