.portal-menu {
    width: 1200px;
    height: 233px;
    background-color: rgba(0, 0, 0, 0);
    align-items: flex-start;
    padding-top: 35px;
}

.portal-head-right {
    width: 420px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.portal-head-buttons,
.portal-head-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.portal-head-logo {
    height: 70px;
    margin-top: 15px;
}

.portal-head-logo>li:hover {
    cursor: pointer;
}

.portal-station-option-icon {
    background-image: url(/image/icon/header/portal-station-option-icon.svg);
    width: 32px;
}

.portal-subscribe {
    background-image: url(/image/icon/header/portal-subscribe.svg);
}

/* Channel--------- */
.portal-channel {
    width: 78px;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 55px;
}

.portal-channel:hover {
    cursor: pointer;
}

.portal-channel>i {
    width: 78px;
    height: 78px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.portal-channel>span {
    width: 100%;
    height: 26px;
    line-height: 26px;
    color: #965D0C;
    font-size: 18px;
    text-align: center;
}