.search-station {
    display: flex;
    flex-direction: column;
}

.search-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 25px;
}

.station-container {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
    margin-bottom: 80px;
}

.station-foot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #ddd;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

/* StationCard-------------------------- */
.station-card {
    position: relative;
    width: 260px;
    height: 96px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04);
    transition: transform .2s;
}

.station-card:hover {
    cursor: pointer;
    box-shadow: 2px 4px 8px 0 rgba(71, 110, 87, 0.25);
    transform: scale(1.1, 1.1);
}

.card-station-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    justify-content: space-between;
}

.card-station-name {
    font-size: 20px;
    color: #333333;
    text-align: right;
    width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-station-logo {
    width: 68px;
    height: 68px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
    /* background-color: #BEBEBE;
    border-radius: 8px; */
}

.role1:after {
    content: "";
    position: absolute;
    margin-top: 0;
    top: 0;
    right: 0px;
    width: 0;
    height: 0;
    border-right: 50px solid #E45E54;
    border-bottom: 50px solid transparent;
}

.role2:after {
    content: "";
    position: absolute;
    margin-top: 0;
    top: 0;
    right: 0px;
    width: 0;
    height: 0;
    border-right: 50px solid #F75C2F;
    border-bottom: 50px solid transparent;
}

.role3:after,
.role4:after,
.role5:after {
    content: "";
    position: absolute;
    margin-top: 0;
    top: 0;
    right: 0px;
    width: 0;
    height: 0;
    border-right: 50px solid #A28C37;
    border-bottom: 50px solid transparent;
}

.card-station-role {
    font-size: 12px;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    line-height: 25px;
    display: block;
    text-align: center;
    transform: rotate(45deg)
}

/* SubscribeChannel----------------------------------- */

@media screen and (max-width:768px) {
    .station-container {
        flex-direction: column;
    }

    .station-card {
        width: 100%;
        margin: 10px 0;
    }

    .search-container {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
    }
}