.portal-menu {
  width: 1200px;
  height: 233px;
  background-color: rgba(0, 0, 0, 0);
  align-items: flex-start;
  /* padding-top: 35px; */
  padding-top: 55px;
  z-index: 999;
}
.portal-head-left {
  display: flex;
  justify-content: center;
}

.portal-head-right {
  width: 420px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.portal-head-buttons,
.portal-head-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.portal-head-logo {
  height: 70px;
  margin-top: 5px;
}

.portal-head-logo > li:hover {
  cursor: pointer;
}

.portal-station-option-icon {
  background-image: url(/image/icon/header/portal-station-option-icon.svg);
  width: 32px;
}

.portal-subscribe {
  background-image: url(/image/icon/header/portal-subscribe.svg);
}

.portal-me {
  background-image: url(/image/icon/header/portal-account.svg);
}

/* Channel--------- */
.portal-channel {
  position: relative;
  width: 98px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.portal-channel:hover {
  cursor: pointer;
}

.portal-channel > i {
  width: 78px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.portal-channel > span {
  width: 100%;
  height: 26px;
  line-height: 26px;
  /* color: #965D0C; */
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
}

.portal-channel:hover > span {
  color: #bc760f;
}
.portal-channel-list {
  position: absolute;
  top: 115px;
  color: #ffffff;
  display: flex;
  opacity: 0;
  transition: ease-in opacity 0.3s;
}
.portal-channel:hover > .portal-channel-list {
  opacity: 1;
}
.portal-channel-list > div {
  /* height: 200px; */
  writing-mode: vertical-rl;
  font-size: 14px;
  line-height: 26px;
  border-right: 1px solid;
}
.portal-channel-list > div:last-child {
  border: unset;
}
.portal-channel-list > div:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .portal-channel-list {
    display: none;
  }
  .portal-menu {
    width: 100%;
    height: unset;
    flex-direction: column-reverse;
    padding: unset;
    justify-content: center;
    align-items: center;
  }
  .portal-home > .app-menu-container {
    width: 100%;
  }
  .portal-head-left {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 400px;
  }
  .portal-channel {
    width: 80px;
    margin: 10px;
  }
  .portal-channel > span {
    font-size: 14px;
  }
  .portal-head-logo > .menu-logo {
    height: 35px !important;
  }
  .portal-head-right {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .portal-head-buttons {
    margin-right: 15px;
  }
}

@media screen and (max-width: 375px) {
  .portal-head-left {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 360px;
  }
  .portal-channel {
    width: 70px;
    margin: 10px;
  }
}

@media screen and (max-width: 320px) {
  .portal-head-left {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 320px;
  }
  .portal-channel {
    width: 60px;
    margin: 10px;
  }
  .portal-channel > i {
    width: 50px;
    height: 52px;
  }
}
