.portal-home {
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
  /* padding-top: 233px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portal-home-body {
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.portal-home-footer {
  position: absolute;
  width: 100%;
  height: 130px;
  bottom: 0;
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 999;
  pointer-events: none;
}
.portal-article {
  position: relative;
}

/* portal-foot------ */
.portal-foot {
  width: 100%;
  height: 50px;
  /* background: #F6F6F6;
    border-top: 1px solid #DDD; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #9399a0;
  padding: 0 55px;
}
.portal-foot a {
  color: #9399a0;
}
.portal-article {
  width: 810px;
  margin: 35px auto;
}
.portal-article.link {
  width: 100%;
}
.catalog-title-edit {
  position: absolute;
  top: -26px;
  right: 35px;
  color: #1890ff;
}
.catalog-title-edit:hover {
  cursor: pointer;
  color: #40a9ff;
}
@media screen and (max-width: 768px) {
  .portal-home-body {
    background-size: 95%;
    background-position: center;
  }
  .portal-foot {
    font-size: 10px;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }
  .portal-article {
    width: 100%;
  }
}
