.portal-catalog-mobile {
  position: relative;
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  margin: 15px 0;
}
.portal-catalog-mobile > div {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
}
.portal-catalog-mobile > div:first-child {
  font-size: 18px;
 text-align: center;
}
