.article-display>div>h1 {
    text-align: center;
    padding: 0.5em;
}

.article-display .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border: none;
}

.article-show {
    padding: 5px;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:768px) {
    .article-footer {
        position: fixed;
    }
}