.edit-story {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    overflow: auto;
}

.story-head {
    position: relative;
    width: 960px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(214, 248, 247);
    margin: auto;
}

.delete-story-content {
    position: absolute;
    right: 20px;
    bottom: 9px;
    width: 20px;
    height: 20px;
    background-image: url(/image/icon/delete.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.delete-story-content:hover {
    cursor: pointer;
}

.story-content-edit-content {
    position: relative;
    width: 100%;
    min-height: 100px;
    margin-top: 30px;
    text-align: center;
    padding: 0 50px;
}

.story-content-edit-content.edit {
    position: relative;
    min-height: 100px;
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
    margin-top: 30px;
    text-align: center;
    padding: 0 50px;
}

.story-content-edit-content.show {
    min-height: unset;
}

.story-edit-button {
    display: inline-block;
    width: 34px;
    height: 46px;
    margin: 8px;
    text-align: center;
}

.story-edit-button>i {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    left: 50%;
    margin-left: -12px;
}

.story-edit-button>i:hover {
    cursor: pointer;
}

.story-edit-button>span {
    font-size: 12px;
}

.story-edit-button-container {
    text-align: center;
    margin-top: 15px;
}

.story-edit-button-container button {
    display: inline-block;
    width: 24px;
    height: 36px;
    margin: 12px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
}

.story-title {
    width: 100%;
    font-size: 20px;
    color: #333333;
    background: unset;
    border: none;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.story-text-title {
    position: relative;
    top: 22px;
    width: 400px;
    font-size: 18px;
    color: #333333;
    background: unset;
    border: none;
    text-align: center;
}

.story-content-textArea {
    width: 100%;
    height: 100px;
    background: unset;
    border: unset;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    resize: none;
}

.story-image,
.story-video {
    width: 100%;
}

.story-footer {
    display: flex;
    flex-direction: row-reverse;
    height: 80px;
    align-items: center;
}

.story-footer .ant-btn {
    margin-right: 15px;
}

.channel-select {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.edit-group {
    margin-top: 15px;
    text-align: center;
}

.story-imageGroup>input {
    border: unset;
}

.story-imageGroup>input:focus {
    border-radius: 0;
}

@media screen and (max-width:768px) {
    .story-head {
        width: 100%;
        height: 320px;
    }
}