.edit-article {
    padding: 5px;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.editor-container {
    flex: 1;
    margin-bottom: 25px;
}

.article-footer {
    position: fixed;
    right: 15px;
    bottom: 75px;
    z-index: 2;
}

.article-footer>button {
    margin-right: 15px
}