.next-story {
  width: 100%;
  height: 50px;
}
.next-story > i {
  width: 28px;
  height: 28px;
  margin: auto;
  display: block;
  background-image: url(/image/icon/next-page.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.next-story > i:hover {
  cursor: pointer;
}
