.story-card {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.04), 0 1px 6px 0 rgba(0, 0, 0, 0.03);
  background: #ffffff;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  margin-bottom: 25px;
}

.story-card:hover {
  box-shadow: 2px 4px 8px 0 rgba(71, 110, 87, 0.25);
  transform: translate(0, -3px);
}

.story-card-cover {
  position: relative;
  width: 100%;
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px 4px 0 0;
}
.story-card-cover:hover {
  cursor: pointer;
}

.story-card-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 0 0;
}

.story-card-title {
  position: relative;
  width: 100%;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
}
.story-card-title:hover {
  cursor: pointer;
}

.story-card-title > .story-card-title-span {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.story-card-info {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.story-card-info > div {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
.story-card-info > div:first-child {
  flex: 1;
}
.story-card-avatar {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 6px;
  background-color: bisque;
  flex-shrink: 0;
}
.story-card-avatar:hover {
  cursor: pointer;
}

.story-card-name {
  margin-right: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.story-card-name:hover {
  cursor: pointer;
}

.story-card-time {
  font-weight: normal;
  margin-right: 6px;
}

.story-card-record {
  float: right;
  margin-left: 10px;
}

.story-card-record > .story-card-icon {
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.story-like:hover {
  cursor: pointer;
}

.picture-count {
  position: absolute;
  bottom: 12px;
  right: 12px;
  color: #ffffff;
}

.picture-count-icon {
  position: relative;
  top: 1px;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 5px;
  background-image: url(/image/icon/image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.picture-count > span {
  position: relative;
  top: -5px;
}

.story-loading {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}

.cover-status {
  color: #ffffff;
  padding: 0 8px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  min-width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
}

.card-link {
  color: #4a90e2;
  margin: 0 5px;
}
.card-link.desktop {
  display: none;
}
.story-card:hover .card-link.desktop {
  display: unset;
}
.story-entry:hover .card-link.desktop {
  display: unset;
}
.right-area {
  position: absolute;
  top: 5px;
  right: 12px;
}
.story-card-user {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .story-card {
    width: 100%;
  }
}
