*{
    padding:0;
    margin:0;
}
input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #fff;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */ 
}
.loading {
    display: inline-block;
    margin-top: 50%;
    margin-left: 45%;
}
.loadMore {
    color: #53AC1D;
    text-align: center;
    padding: 5px 0;
}

.loadMore span {
    display: inline-block;
    cursor: pointer
}
.explore {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoomRightbottom{
    position: fixed;
    bottom:2px;
    right:3px;
    z-index:99;
    width:132px;
    height: 46px;
    background-color: #252424;
    color: #fff;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zoomRightbottom img{
    width:40px;
    height:40px;
    border-radius:100%;    
}
.zoomRightbottom span{
    margin-left:5px;
    margin-right:5px;
}
.head-top-add{
    position: fixed;
    z-index:10;
    right:15px;
    top:80px;    
    width:400px;
    height:40px;  
    cursor:pointer;
}
/* .explore-extends span{
    display:inline-block;
    float:left;
} */
.explore-search{
    position: relative;
    width:310px;
    float: left;
}
.explore-btn ul{
    float: left;
}
.explore-btn ul li{
    float:left;
}
.srch_text{
    padding-left: 1em;
    height: 40px;
    position: relative;
    display: inline-block;
    width: 100%;
    background: #5CAC06;
    border: none;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1.1px;
    z-index: 1;
    padding-right: 30px;
}
.explore-common-btn{
    display: inline-block;
    width: 44px;
    height: 40px;
    border: 0;
    cursor: pointer;
    margin-left: 1px;
}
.explore-search i{
    width:24px;
    height:24px;
    display:inline-block;
    position: absolute;
    top: 9px;
    right: 5px;
    z-index: 1;
}
.explore-search-icon{
    background:url(/image/icon/explore-search.svg) no-repeat center/cover;   
}
.explore-search-icon.on{
    background:url(/image/icon/explore-search-on.svg) no-repeat center/cover;   
}
.explore-hot{
    background: #53ac1d url(/image/icon/explore-hot.svg) 11px 7px no-repeat; 
}
.explore-hot.on{
    background: #53ac1d url(/image/icon/explore-hot-on.svg) 11px 7px no-repeat; 
}
.explore-nearby{
    background: #53ac1d url(/image/icon/explore-nearby.svg) 11px 7px no-repeat; 
}
.explore-nearby.on{
    background: #53ac1d url(/image/icon/explore-nearby-on.svg) 11px 7px no-repeat; 
}
.explore-search-list{
    width:100%;
    background:#434850;
    font-size:13px;
    position: absolute;
    top:100%;    
}
.explore-search-list ul{
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    padding:0;
    margin:10px 0;
}
.explore-search-list ul li{
    display:flex;
    align-items: center;
    padding:10px 10px;
    color:#D0D2DF ;
}
.explore-search-list ul li:hover{
    background:#3A3D42;
}
.explore-search-list ul.searchHot li:first-child{
    border-bottom: 1px solid #424447;
    display:flex;
    justify-content: space-between;
    cursor:default;
}
.explore-search-list ul.searchHot li:first-child:hover{
    background:#434850;
}
.explore-search-ava{
    width:35px;
    height:35px;
    border-radius:100%;
    background-color: #efefef;
    display: inline-block;
}
.explore-search-name{
    display:inline-block;
    flex:1;
    padding-left:5px;
    overflow: hidden;   
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0;
}
.explore-search-list ul.nearlist li{
    display:flex;
    position: relative;
}
.explore-search-list ul.nearlist li span:last-child{
    cursor:pointer;
}
.explore-search-range{
    width:80px;
    text-align:right;
    overflow: hidden;   
    text-overflow: ellipsis;
    white-space: nowrap;
}
.setbox{
    position: absolute;
    width:300px; 
    background:#434850;
    right:401px;
    top:0;
    padding:10px 20px 20px;
    color:#B2B5C5;
}
.explore-form{
    text-align:center;
}
.form-item{
    padding:10px 0;
    text-align:left;
}
.form-item p{
    margin:0 0 10px 0;
    font-size:16px;
}
.form-item .ant-radio-group span{
    color:#B2B5C5; 
}
.form-item .ant-radio-checked .ant-radio-inner{
    border-color:#5CAC06; 
}
.form-item .ant-radio-inner:after{
    background-color: #5CAC06;  
}
.form-item .ant-radio-checked:after{
    border: 1px solid #5CAC06;
}
.setbtn{
    width:80px;
    height:40px;
    line-height:40px;
    border-radius: 2px;
    text-align:center;
    color:#fff;
    display:inline-block;
    margin-top:10px;
    background-color: #5CAC06;
}
@media screen and (max-width: 768px) {   
    .zoomRightbottom{
        background-color: #191818;
    }
   
}
@media screen and (max-width: 480px) {   
    .head-top-add{
        width: inherit;
        left:15px;
    } 
    .explore-extends{
        display:flex;
    }
    .explore-search{
       width: inherit;
       flex: 1;
    } 
    .explore-btn{
        width:90px;
    }
    .setbox{
        right: 50%;
        margin-right: -150px;
        top: 50%;
    } 
}