/* Subscribe---------------- */
.relationDesc {
  padding: 15px;
  border-top: 1px solid #d9d9d9;
}
.subscribe-menu {
  position: absolute;
  top: 70px;
  right: 90px;
  z-index: 2;
  width: 288px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 0 4px 0 rgba(190, 190, 190, 0.5);
}

.menu-title {
  background: #f2f2f2;
  color: #222222;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.menu-title > span {
  font-weight: 800;
}

.subscribe-menu-item {
  background: #ffffff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.subscribe-menu-item > span {
  font-size: 16px;
  color: #555555;
}

.select-all {
  font-size: 12px;
  color: #666666;
  font-weight: normal;
}

.select-all:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .subscribe-menu {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border: unset;
    box-shadow: 2px 4px 8px 0 rgba(71, 110, 87, 0.25);
  }
}
