/* HeadMenu--------------- */
.head-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 414px;
  height: 100%;
  background-color: #f5f5f5;
  box-shadow: 0 0 4px 0 rgba(190, 190, 190, 0.5);
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.head-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.right-section {
  display: flex;
}
.head-menu-content {
  flex: 1;
  overflow: auto;
}
.head-menu-head {
  position: relative;
  width: 100%;
  height: 70px;
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
  padding: 0 15px;
  overflow: hidden;
  z-index: 1;
}
.head-menu-head-filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.1);
  filter: blur(4px);
  margin: -15px;
  z-index: -1;
}
.close-head-menu {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/image/icon/story/close.svg);
  width: 30px;
  height: 30px;
}
.close-head-menu:hover {
  cursor: pointer;
}

.head-menu-login {
  display: flex;
  justify-content: center;
  align-items: center;
  border: unset;
}

.menu-station-list {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.menu-station-list > div {
  display: flex;
  align-items: center;
  height: 50px;
}
.menu-station-logo {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background-color: #d9d9d9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-station-name {
  flex: 1;
  font-size: 14px;
  line-height: 34px;
  color: #4a4a4a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 15px;
}

.menu-station-name:hover {
  cursor: pointer;
  color: #4a90e2;
}
.menu-station-role {
  width: 20%;
  height: 20px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 12px;
  background-color: slategrey;
  color: #fff;
  border-radius: 4px;
}
.menu-head-tab {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-head-tab-item {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-head-tab-item:hover {
  cursor: pointer;
}
.menu-head-tab-item > div {
  width: 100%;
  height: 35px;
  line-height: 35px;
}
.menu-head-tab-item.selected {
  font-weight: 800;
  border-bottom: 2px solid #4a90e2;
}

@media screen and (max-width: 768px) {
  .head-menu {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border: unset;
    box-shadow: 2px 4px 8px 0 rgba(71, 110, 87, 0.25);
  }
}
