.app-menu-container {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.app-menu {
    list-style: none;
    padding: 0 14px;
    margin: unset;
    height: 70px;
    background: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    color: rgba(67, 67, 67, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333645;
}

.menu-logo {
    width: 104px !important;
    height: 49px !important;
    border-radius: 8px;
    /* background-image: url(/image/icon/logo.svg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.head-station-name {
    width: unset !important;
    font-size: 24px;
    letter-spacing: 1.36px;
    margin-left: 14px;
    color: #ffffff;
    font-weight: 800;
}

.menu-space {
    flex: 1;
}

.app-menu>li {
    width: 95px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 70px;
    box-sizing: border-box;
}

.app-menu>li>i {
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.app-menu>li>a {
    text-decoration: none;
    height: 100%;
    font-size: 18px;
    color: rgba(67, 67, 67, 1);
    display: block;
}

.app-menu>li:hover>a {
    color: #E60012 !important;
}

.app-menu>.active:hover>a {
    color: #E60012 !important;
}

.head-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px !important;
    height: 24px !important;
    margin-right: 24px;
}

.head-icon:hover {
    cursor: pointer;
}

.me {
    background-image: url(/image/icon/me.svg);
}

.message {
    background-image: url(/image/icon/message.svg);
}

.search {
    background-image: url(/image/icon/search.svg);
}

.subscribe {
    background-image: url(/image/icon/subscribe.svg);
}

.head-icon .ant-dropdown-link {
    opacity: 0;
}

.ant-dropdown-menu-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ant-dropdown-menu>.ant-divider-horizontal {
    margin: 5px 0;
}

@media screen and (max-width:768px) {}