.login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  background-image: url(/image/background/login-bk.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.login-box {
  position: relative;
  padding: 50px 150px;
  width: 560px;
  height: 375px;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index:1
}
/* 毛玻璃效果 */
.login-box:after {
  content: "";
  background-image: url(/image/background/login-bk.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(255, 255, 255, 0.8); */
  margin: -30px;
  z-index: -1;
  filter: blur(5px);
}

.login-box a{
  color: #fff;
}

.login-box > .checkbox {
  margin: 15px 0;
}

.tree-icon {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
}

.thirdLogin-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thirdLongin {
  display: inline-block;
  width: 100px;
  margin: 0 30px 10px;
}

.thirdLongin > i {
  display: block;
  width: 50px;
  height: 50px;
  margin: 5px 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

.thirdLongin > i:hover {
  cursor: pointer;
}

.thirdLongin > span {
  color: #545b5c;
}

.loginByQQ {
  background-image: url(/image/icon/QQ.png);
}

.loginByQQ > a {
  width: 100%;
  height: 100%;
  display: block;
}

.loginByQQ > a > img {
  display: none;
}

.loginByFS {
  background-image: url(/image/icon/familysearch.png);
}

.checkbox {
  text-align: left;
}

.login-logo {
  width: 100%;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
}

/* -------------- */
.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-box .login-form-button {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .login-box {
    width: unset;
    height: 375px;
    /* background: unset; */
    margin: 0 25px;
    padding: 50px;
  }

  .thirdLogin-container {
    flex-direction: row;
  }
}
