.my-station {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
}

.my-station-head {
    width: 100%;
    line-height: 46px;
    padding: 0 80px;
    border-bottom: 1px solid #ddd;
    background: radial-gradient(at center top, #7B8492, #292D42);
    color: white;
    font-size: 16px;
}

.tabel-actions>span:hover {
    cursor: pointer;
}