.member-card {
    width: 295px;
    height: 97px;
    background: #F2F2F2;
    display: flex;

}

.member-avatar {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
}

.member-info {
    display: flex;
    flex-direction: column;
}