.member-card {
    width: 265px;
    height: 97px;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 11px;
}

.member-avatar {
    display: block;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin: auto;
}

.member-info {
    display: flex;
    flex-direction: column;

    padding: 0 25px;
}

.member-name {
    margin-bottom: 5px;
}

.member-button {
    color: #1890ff;
}

.member-button:hover {
    cursor: pointer;
}

/* IconWithText */
.icon-with-text {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.icon-with-text:hover {
    cursor: pointer;
}

.icon-with-text>i {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-with-text>span {
    color: #666666;
    font-size: 16px;
}

@media screen and (max-width:768px) {
    .member-card {
        width: 100%;
    }
}