.my-froala-editor-container {
    display: flex;
}

.editor-menu {
    width: 350px;
}

.editor-container {
    flex: 1;
}

.my-froala-editor.preview {
    width: 816px;
    min-height: 1173px;
    box-shadow: 0 1px 6px #ccc;
    background-color: #FFFFFF;
    padding: 1cm 2cm 2cm;
    margin: auto;
}

.my-froala-editor-container .ant-menu {
    background: unset !important;
    border-right: unset !important;
}

.editor-menu>ul {
    overflow: -moz-scrollbars-none;
    transition: top 0.2s;
}

/* chrome 隐藏滚动条 */
.editor-menu>ul::-webkit-scrollbar {
    width: 0 !important
}

.fr-box.fr-basic .fr-wrapper {
    border: unset !important;
}

.fr-toolbar,
.second-toolbar {
    border-radius: unset !important;
    border: unset !important;
}

.fr-wrapper>div:first-child,
#logo,
.fr-view>p[data-f-id="pbf"] {
    /* position: absolute;
    top: -10000px;
    opacity: 0;
    left: 0; */
}

@media screen and (max-width:768px) {
    .my-froala-editor {
        width: unset;
        min-height: unset;
        box-shadow: unset;
        background-color: unset;
    }

    .editor-menu {
        display: none;
    }

    .my-froala-editor-container {
        display: unset;
    }

    .my-froala-editor.preview {
        width: 100%;
        background-color: unset;
        box-shadow: unset;
        padding: 15px;
    }
}