.file-read-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  font-style: normal;
}

.file-read-button>input {
  opacity: 0;
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
}

.file-read-button>input:hover {
  cursor: pointer;
}