.scroll-title-container {
  width: 100%;
  overflow: auto;
  overflow: -moz-scrollbars-none;
}
/* chrome 隐藏滚动条 */
.scroll-title-container::-webkit-scrollbar {
  width: 0 !important;
}
.scroll-title {
  width: fit-content;
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 15px 0;
  transition: transform 0.2s;
}
.title-item {
  width: 90px;
  height: 100%;
  text-align: center;
  line-height: 45px;
  flex-shrink: 0;
}
.title-item:hover {
  cursor: pointer;
}
.title-item.selected {
  border-bottom: 3px solid #cb4042;
  font-weight: bold;
}
