.slider {
    position: relative;
    overflow: hidden;
}

.slider-inner {
    overflow: hidden;
}

.slider-contents {
    display: flex;
    transition: transform 0.25s;
}

.slider-contents>* {
    flex-grow: 1;
}

.slider-arrows {
    position: absolute;
    left: 0;
    top: calc(50% - 22px);
    width: 100%;
    z-index: 2;
}

.slider-arrows>button {
    border: none;
    width: 44px;
    height: 49px;
    background-color: rgba(0,0,0,0.30);
    border-radius: 4px;
}

.arrow-left {
    position: absolute;
    left: 0;
    background-image: url(/image/icon/arrow-left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.arrow-right {
    position: absolute;
    right: 0;
    background-image: url(/image/icon/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}