.upload-avatar {
    position: relative;
}

.upload-avatar .file-upload-button {
    font-style: normal;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    border: 1px solid transparent;
    touch-action: manipulation;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
}

.upload-avatar .file-upload-button:hover {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
}

.upload-avatar .ant-btn {
    display: block;
    margin: 15px 0;
}