.channel-option {
    overflow: auto;
}

.channel-option>.main-content {
    margin: auto;
}

.channel-head {
    position: relative;
    height: 55px;
    font-size: 16px;
    letter-spacing: 2px;
    font-size: 16px;
    color: #333333;
    line-height: 46px;
    border-bottom: 1px solid #ddd;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.tabel-actions>span:hover {
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .channel-head {
        text-align: center;
    }
}