.station-options {
    margin: auto;
    background-color: #ffffff;
    display: flex;
}

.station-options>span>div {
    height: 100%;
    z-index: 3;
}

.station-options>span {
    z-index: 3;
}

.options-menu {
    position: relative;
    width: 200px;
    background: #5F5F5F;
    font-size: 18px;
    height: 100%;
}

.options-menu>div {
    height: 70px;
    line-height: 70px;
}

.options-menu>div:hover {
    cursor: pointer;
    background: rgba(137, 137, 137, 0.6);
}

.options-menu>div.active {
    background: #898989;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.options-menu>div>a {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 15px;
}

.options-content {
    flex: 1;
    padding: 15px 25px;
    width: 720px;
}

.menu-trigger {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    top: 150px;
    background-image: url(/image/icon/menu.svg);
    background-color: #FFFFFF;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    box-shadow: 0 2px 10px 0 rgba(71, 110, 87, 0.50);
    border-radius: 4px;
}

.station-option {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 40px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 3px;
    background-image: url(/image/icon/Group@1x.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.station-option:hover {
    cursor: pointer;
}

.station-option-dorpdown {
    position: absolute;
    top: 40px;
    right: 15px;
    width: 96px;
    background-color: #FFFFFF;
    border-radius: 3px;
    color: #4A4A4A;
    text-align: center;
    z-index: 3;
    box-shadow: 2px 4px 8px 0 rgba(71, 110, 87, 0.25);
}

.station-option-dorpdown>div {
    height: 30px;
    line-height: 30px;
}

.station-option-dorpdown>div:hover {
    cursor: pointer;
    color: #1890ff;
}

/* Menu动画--------------------------------------------------------- */

.sideMenu-enter {
    transform: translate(-200px);
}

.sideMenu-enter.sideMenu-enter-active {
    transform: translate(0px);
    transition: transform 500ms, opacity 500ms;
}

.sideMenu-leave {
    transform: translate(0px);
}

.sideMenu-leave.sideMenu-leave-active {
    transform: translate(-200px);
    transition: transform 500ms, opacity 500ms;
}

@media screen and (max-width:768px) {
    .options-menu {
        position: absolute;
        height: 100%;
        left: 0;
        bottom: 0;
        top: 0;
        z-index: 3;
        box-shadow: 0 2px 10px 0 rgba(71, 110, 87, 0.50);
    }

    .menu-trigger {
        display: block;
    }

    .options-content {
        width: 100%;
        padding: 15px 0;
    }
}